<div class="main">
        
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Saferboy</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="service">SERVICE</a></li>
                    <li><a href="/login">LOGIN</a></li>
                </ul>
            </div>
        </div>

        <h1 style="margin: auto; color:aliceblue; padding: 100px;"> CsGo va Vauv Js asoschilarining kurslari </h1>

        
</div> 